Select(name="compets" multiple="" class="ui dropdown")
    option(selected disabled value="") Veillez selectionner une compétence
    each competence in competences
        option(value=competence._id) #{competence.titre} 