Select(name="domaines" multiple="" class="ui dropdown")
    option(selected disabled value="") Veuillez selectionner un domaine
    each domaine in domaines
        option(value=domaine._id) #{domaine.titre} 