include /views/layout/head
body
    .login.mast
        .ui.basic.segment
            .ui.secondary.inverted.menu
                a.item(href="/") 
                    i.home.icon
                    | Accueil
                a.item 
                    i.bar.chart.icon
                    | Statistiques
                .right.menu
                    a.active.item(href="/login")
                        i.sign.in.icon
                        | Connexion
                    .ui.dropdown.item
                        i.user.icon
                        .text S'incrire en tant que...
                        .menu
                            a.item(href="/freelancer/signup") Freelancer
                            a.item(href="/employeur/signup") Employeur
        .ui.login.container
            img.ui.centered.small.image(src="/static/images/logo_round_white.png")
            .ui.padded.raised.segment
                form.ui.form(action="/login" method="post")
                    .field
                        label Nom d'utilisateur
                        input(type="text" name="username")
                    .field
                        label Mot de passe
                        input(type="password" name="password")
                    .field
                        button.ui.labeled.icon.teal.fluid.button 
                            i.sign.in.icon
                            | S'authentifier
                if authFail != ""
                    .ui.negative.icon.message
                        i.remove.icon
                        .content #{authFail}
                if loggedOut != ""
                    .ui.success.icon.message
                        i.checkmark.icon
                        .content #{loggedOut}
                if suppr != ""
                    .ui.success.icon.message
                        i.checkmark.icon
                        .content #{suppr}