include /views/layout/head
body
    .login.mast
        .ui.basic.segment
            .ui.secondary.inverted.menu
                a.item(href="/") 
                    i.home.icon
                    | Accueil
                a.item 
                    i.bar.chart.icon
                    | Statistiques
                .right.menu
                    a.active.item(href="/login")
                        i.sign.in.icon
                        | Connexion
                    .ui.dropdown.item
                        i.user.icon
                        .text S'incrire en tant que...
                        .menu
                            a.item(href="/freelancer/signup") Freelancer
                            a.item(href="/employeur/signup") Employeur
        .ui.login.container
            img.ui.centered.small.image(src="/static/images/logo_round_white.png")
            .ui.padded.raised.segment
                if waitLogin != ""
                    .ui.negative.icon.message
                        i.remove.icon
                        .content #{waitLogin}
                if loginBlocked != ""
                    .ui.negative.icon.message
                        i.remove.icon
                        .content #{loginBlocked}