body {
    background: #E8CBC0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #636FA4, #E8CBC0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #636FA4, #E8CBC0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: fixed;
}

.signup {
    background-color: #ecf0f1;
    border: 1px solid #fff;
    margin-top: 4em;
    padding: 1em;
    border-radius: 1em;
}

.ui.grid.main {
    min-height: 100%;
    margin: 0;
}

.column.left {
    background: #333439;
}

.msgNotifs {
    margin-top: 2em;
    margin-bottom: 2em;
}

.column.main {
    background: #ecf0f1
}

.ui.secondary.inverted.pointing.menu {
    border-width: 0 !important;
}

.signup form {
    padding: 1em;
}