body {
    background: #333439 !important;
}

.mast {
    background-color: #16a085;
    min-height: 500px;
}

.seg-two {
    background-color: #16a085;
    background-image: -webkit-linear-gradient(160deg, #16a085 65%, #ecf0f1 32%);
    min-height: 300px;
}

.two.column {
    padding-top: 4em;
}

.three.column {
    padding-top: 3em;
}

.seg-three {
    background-color: #16a085;
    background-image: -webkit-linear-gradient(200deg, #ecf0f1 35%, #16a085 32%);
    min-height: 300px;
}

.footer {
    background-color: #ecf0f1;
    min-height: 250px;
}

.text.container {
    width: 500px;
    text-align: center
}

.signup {
    background-color: #ecf0f1;
    border: 1px solid #fff;
    margin-top: 4em;
    padding: 1em;
    border-radius: 1em;
}

.ui.grid.main {
    min-height: 100%;
    margin: 0;
}

.pusher {
    background: #ecf0f1 !important;
    min-height: 100%;
}

.column.left {
    background: #333439;
}

.msgNotifs {
    margin-top: 2em;
    margin-bottom: 2em;
}

.column.main {
    background: #ecf0f1
}

.ui.container {
    padding: 1em;
}

.ui.secondary.inverted.pointing.menu {
    border-width: 0 !important;
}

.signup form {
    padding: 1em;
}