include /views/layout/head

.ui.grid
  .computer.tablet.only.row
    .ui.inverted.fixed.menu.navbar.page.grid
      .item 
        img(src="/static/images/logo_round.svg") 
      a.active.item(href='') Home
      a.item(href='') About
      a.item(href='') Contact
      a.ui.dropdown.item
        | Dropdown
        i.dropdown.icon
        .menu
          .item Action
          .item Another action
          .item Something else here
          .ui.divider
          .item Seperated link
          .item One more seperated link
      .right.menu
        a.item(href='') Fixed top
  .mobile.only.row
    .ui.fixed.inverted.navbar.menu
      a.brand.item(href='') Project Name
      .right.menu.open
        a.menu.item(href='')
          i.content.icon
    .ui.vertical.navbar.menu
      a.active.item(href='') Home
      a.item(href='') About
      a.item(href='') Contact
      .ui.item
        .text Dropdown
        .menu
          a.item Action
          a.item Another action
          a.item Something else here
          a.ui.aider
          a.item Seperated link
          a.item One more seperated link
      .menu
        a.active.item(href='') Default
        a.item(href='') Static top
        a.item(href='') Fixed top
.ui.page.grid.main
  .row
    .column.padding-reset
      .ui.large.message
        h1.ui.huge.header Navbar example
        p
          | This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.
        p To see the difference between static and fixed top navbars, just scroll.
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        a.ui.blue.button(href='') View navbar docs »
