include /views/layout/head

.ui.centered.grid.container
    .column
      .signup
        h1.ui.teal.header
          i.users.icon
          .content
            | Inscription Freelancer
            .sub.header Inscrivez-vous et profitez de nos services spécial Freelancer!
        .ui.divider
        .ui.fluid.ordered.tablet.stackable.steps
            .completed.step
                .content
                    .title Identité
            .completed.step
                .content
                    .title Compétences
            .step
                .content
                    .title Compte
            .disabled.step
                .content
                    .title Justificatifs
        .ui.divider          
        form(class="ui form signup-3" role="form" action="/freelancer/signup?step=3" method="post")
            div.ui.error.message(style="margin-top:0")
            h3.ui.header(style="margin-top:0")
                i.user.icon
                .content  Informations de compte
                    .sub.header Veuillez saisir les informations nécessaires au fonctionnement de votre compte.
            if messages != ""
              .ui.icon.message
                i.warning.icon
                .content
                  .header Erreur de données!
                  p #{messages}
            input(type="hidden" name="accountType" value="Freelancer")
            .three.fields
                .field
                    label Nom d'utilisateur:
                    input(type="text" name="username" placeholder="Nom d'utilisateur")
                .field
                    label Mot de passe:
                    input(type="password" name="password" placeholder="Mot de passe")
                .field
                    label Resaisissez le mot de passe:
                    input(type="password" name="REpassword" placeholder="Resaisissez le mot de passe")
            .ui.modal.termes
                .header Termes d'utilisation
                .content
                    p Acceptez-vous les termes d'utilisation de Fennec Freelance?
                    p Vous pouvez telecharger le document en clickant sur le lien ci-dessous:
                    a(href="/static/docs/termes.pdf")
                        i.linkify.icon 
                        | Télecharger le document
                .actions
                    .ui.cancel.button Annuler
                    .ui.approve.teal.button Accepter                    
            .ui.basic.clearing.segment
                button.ui.right.labeled.icon.right.floated.teal.button.termes-opener(type="button")
                    i.right.arrow.icon
                    | Suivant