doctype
html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        <link rel="icon" type="image/png" href="/static/images/favicon.png" />
        title Fennec Freelance
        link(rel="stylesheet" href="/static/semantic/dist/semantic.min.css")
        link(rel="stylesheet" href="/static/css/main.css")
        script(src="/static/js/jquery-3.2.1.min.js")
        script(src="/static/semantic/dist/semantic.min.js")
        script(src="/static/js/main.js")
        script(src="/static/js/ajax.js")
        script(src="/static/js/jquery.tablesorter.min.js")
    body
        .ui.left.inverted.vertical.menu.sidebar
            .ui.basic.segment
                block user
                if (user.isValid === true)
                    .ui.violet.inverted.segment
                        h5.ui.center.aligned.header(data-tooltip="Profil validé.")
                            i.green.building.icon
                            | Employeur
                else
                    .ui.violet.inverted.segment
                        h5.ui.center.aligned.header(data-tooltip="Profil non validé.")
                            i.red.building.icon
                            | Employeur
                .ui.two.column.grid
                    .column(style="padding-right: 5px")
                        a.ui.labeled.fluid.button( href="/messagerie/recus")
                            .ui.violet.fluid.button
                                i.inbox.icon
                            .ui.basic.violet.left.pointing.label(id="msgLabel") 0
                    .column(style="padding-left: 5px")   
                        a.ui.labeled.fluid.button(href="/notifications")
                            .ui.violet.fluid.button
                                i.alarm.icon
                            .ui.basic.violet.left.pointing.label(id="notifLabel")  0                         
                .ui.divider     
                .ui.large.vertical.secondary.fluid.pointing.inverted.menu
                    a(class= ( currentRoute === 'profil' ? "active item" : "item" ) href="/employeur/") 
                        i.user.icon
                        | Profil
                    a(class= ( currentRoute === 'offres' ? "active item" : "item" ) href="/employeur/offres") 
                        i.tasks.icon
                        | Offres
                    a(class= ( currentRoute === 'postulats' ? "active item" : "item" ) href="/employeur/postulats") 
                        i.wait.icon
                        | Postulats
                    a(class= ( currentRoute === 'contrats' ? "active item" : "item" ) href="/employeur/contrats") 
                        i.suitcase.icon
                        | Contrats
                    a(class= ( currentRoute === 'freelancers' ? "active item" : "item" ) href="/employeur/freelancers") 
                        i.sitemap.icon
                        | Freelancers
                .ui.divider
                .ui.large.vertical.secondary.fluid.pointing.inverted.menu
                    a.item(href="/messagerie/nouveau/?dest=admin")
                        i.help.circle.icon
                        | Support
                    a.item
                        i.home.icon
                        | Accueil
                    a.item(href="/logout") 
                        i.power.icon
                        | Déconnexion                 
        .pusher
            block content