include /views/layout/head

.ui.two.columns.grid.stackable.main
    .three.wide.column.left
        .ui.container
            block user
            if (user.isValid === true)
                .ui.violet.segment
                    h5.ui.header
                        i.checkmark.circle.icon
                        .content
                            .header Profil validé
            else
                .ui.red.segment
                    h5.ui.header
                        i.remove.circle.icon
                        .content Profil non validé
                            .sub.header Votre demande est en cours de traitement.
            .msgNotifs
                div(class="ui violet two item inverted compact stackable menu")
                    a.item
                        i.inbox.icon 
                        .floating.ui.label 0
                    a.item
                        i.alarm.icon
                        .floating.ui.label 0
            .ui.info.message 
                i.close.icon
                .header Employeur
                p Vous êtes actuellement connecté en tant qu'employeur.
            .ui.large.vertical.secondary.fluid.pointing.inverted.menu
                a(class= ( currentRoute === 'profil' ? "active item" : "item" )  href="/employeur/")
                    i.user.icon
                    | Profil
                a(class= ( currentRoute === 'offres' ? "active item" : "item" )  href="/employeur/offres")
                    i.tasks.icon
                    | Offres
                a(class= ( currentRoute === 'contrats' ? "active item" : "item" )  href="/employeur/contrats")
                    i.suitcase.icon
                    | Contrats
                a(class= ( currentRoute === 'freelancers' ? "active item" : "item" )  href="/employeur/freelancers")
                    i.sitemap.icon
                    | Freelancers
            .ui.divider
            .ui.large.vertical.secondary.fluid.pointing.inverted.menu
                a.item(href="/employeur/offres")
                    i.home.icon
                    | Accueil
                a(class= ( currentRoute === 'informations' ? "active item" : "item" )  href="/employeur/informations") 
                    i.info.icon
                    | Informations
                a(class= ( currentRoute === 'support' ? "active item" : "item" )  href="/employeur/support") 
                    i.help.circle.icon
                    | Support
                a.item(href="/logout") 
                    i.power.icon
                    | Déconnexion
            .ui.basic.segment(style="padding:0; margin:0")
                img.ui.centered.small.image(src="/static/images/logo_full2.png")
    .thirteen.wide.column.main
        block content
