.ui.left.sidebar
    .ui.inverted.segment(style="margin:0")
        img.ui.fluid.image(src="/static/images/logo_full.png")    
        .ui.inverted.blue.segment       
        .ui.secondary.vertical.pointing.inverted.menu
            .item Stop
            a.active.item Home
            a.item Cool
            a.item Test
        .ui.divider
        .ui.secondary.vertical.pointing.inverted.menu
            .item Stop
            a.active.item Home
            a.item Cool
            a.item Test
.ui.container
    .ui.segment
        p Welcome